<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.snula">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Snula">
        <activity
            android:name=".light"
            android:exported="false" />
        <activity
            android:name=".temperatura"
            android:exported="false" />
        <activity
            android:name=".Add_room"
            android:exported="false" />
        <activity
            android:name=".setining"
            android:exported="false" />
        <activity
            android:name=".screens.Your_home"
            android:exported="false" />
        <activity
            android:name=".screens.register"
            android:exported="false" />
        <activity
            android:name=".screens.sledActivity"
            android:exported="false" />
        <activity
            android:name=".screens.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>